﻿.mytable {text-align:center;}
.mytable td:hover { opacity: 0.6; background: #fc0; }
.mytable td:active { opacity: 1; background: #D06E4B; }


input[type="button"]{ 
 color:#0071BC;  /*00c6ff; */
 padding: 10px 20px;
 width:100%;
 text-decoration:none;
 text-align:center;
 /*margin:20px auto;*/
 display: block;
 background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
 background-position: 100% 0;
 background-size: 200% 100%;
 transition: all .25s ease-in;  
 font: 400 18px tahoma;
 border: 2px solid #0071BC;
 border-radius:4px;
}

input[type="button"]:hover {
background-position: 0 0;
color:#fff;
}


Input[type="button"]:disabled {
   color:#00c6ff;
 padding: 10px 20px;
 width:100%;
 text-decoration:none;
 text-align:center;
 /*margin:20px auto;*/
 display: block;
 background-image: linear-gradient(to left,transparent,transparent 50%,#00c6ff 50%,#00c6ff);
 opacity: 0.5;
 background-position: 100% 0;
 background-size: 200% 100%;
 transition: all .25s ease-in;  
 font: 400 18px tahoma;
 border: 2px solid #00c6ff;
 border-radius:4px;
}





input[type="submit"] {
  border:none;
 background:#D06E4B;
  color:#fff;
  font-size:20px;
  padding:10px 0;
  border-radius:5px;
  cursor:pointer;
  width:100%;
}
input[type="submit"]:hover {opacity:.8;}
input[type="submit"]:active {opacity:1;}


.radioP {
  display: block;
  position: relative;
  margin: 10px 0;
  padding-left:30px;
  font-family:arial;
}
.radioP:first-child {
 margin:0 0 10px 0; 
}

input[type="radio"] {
  display: block;
  position: absolute;
  top:0;
  left:0;
  z-index: 0;
}

input[type="radio"] + label span.rerrq {
  appearance: none;
  z-index: 20;
  position: absolute;
  top:-3px;
  left:0;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0,0%,100%,.15) 0 1px 1px, inset hsla(0,0%,0%,.5) 0 0 0 1px;
  background: #efefef;
  background-image: radial-gradient(ellipse at center,  #D06E4B 0%,#D06E4B 40%,#efefef 45%);
  background-repeat: no-repeat;

  transition: background-position .15s cubic-bezier(.8, 0, 1, 1);
}
input[type="radio"]:checked + label span.rerrq {
  transition: background-position .2s .15s cubic-bezier(0, 0, .2, 1);
}

input[type="radio"] + label span.rerrq {
  background-position: -24px 0;
}
input[type="radio"]:checked + label span.rerrq {
  background-position: 0 0;
}


input[type="text"]{ background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type=text]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 } 

input[type="number"]{ background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

input[type=number]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
 } 


a.obl{
        position: relative;
        display:block;
        color:#0071BC;  /*color: #ED5B00; */
        text-decoration: none;
        margin: 20px auto;
        text-decoration:none;
        text-align:center;
        width:125px;
        font-family: verdana; 
        font-size: 22px;
        letter-spacing: 2px; 
        border-bottom: 2px solid transparent; 
}

a.obl:hover,a.obl:focus{
        outline: none;
        border-bottom: 2px solid #eee; 
}

a.obl::before, a.obl:after{ 
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70px;
        height: 70px; 
        border: 12px double rgba(0,0,0,0.1);
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
        transform: translateX(-50%) translateY(-50%) scale(0.2);
}

a.obl:after{ 
        width: 60px; 
        height: 60px; 
        border-width: 6px;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
        transform: translateX(-50%) translateY(-50%) scale(0.8);
}

a.obl:hover:before, a.obl:hover:after{
        -webkit-animation: pulsate 1.2s infinite; 
        -moz-animation: pulsate 1.2s infinite;
        -ms-animation: pulsate 1.2s infinite;
        animation: pulsate 1.2s infinite;
}


@-webkit-keyframes pulsate{

  30%{
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
  }

        100%{
        opacity: 0.3;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.5);
        }

}

@-moz-keyframes pulsate{

  30%{
        opacity: 1;
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
  }

        100%{
        opacity: 0.3;
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.5);
        }

}

@-ms-keyframes pulsate{

  30%{
        opacity: 1;
        -ms-transform: translateX(-50%) translateY(-50%) scale(1);
  }

        100%{
        opacity: 0.3;
        -ms-transform: translateX(-50%) translateY(-50%) scale(0.5);
        }

}

@-keyframes pulsate{

  30%{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
  }

        100%{
        opacity: 0.3;
        transform: translateX(-50%) translateY(-50%) scale(0.5);
        }

}

/* РУСТЕМКА */
    .stable {font-size:15px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .stable th {font-size:15px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
    .stable tr {background-color:#d4e3e5;}
    .stable td {font-size:15px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;}
    .stable td:hover {background-color:#ffffff;}
    .first {font-size:15px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:center;font-weight:bold;}
    .go {background-color:#50c878;}
    .banned {background-color:#f7943c;}
    .block1 {width: 670px;float: left;margin-right: 20px;}
    .block2 {clear: both}
    .block3 {float: left;}
